@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-gray-50 dark:bg-slate-900 text-gray-900 dark:text-slate-100;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
}
